div.myTrips-page{
    text-align: center;
}

div.shareModal{
    margin-left: 4em;
}

div.ui.modal{
    text-align: center;
    height: fit-content;
    margin: auto;
}

div.ui.small.modal.transition.visible.active.shareModal{
    margin: 12em;
    margin-left: 25%;
}

div.ui.small.modal.transition.visible.active.myTripDetailsModal{
    margin: 10em;
    margin-left: 25%;
    height: fit-content;
}